/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
  /* Now 1rem = 1em = 10px */

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}


/**********************************************************
  Reset Default Properties End
**********************************************************/


/**********************************************************
  Variables Start
**********************************************************/
:root {

  --total-images: 10;
  --img-initial-scale: .9;
  --img-target-scale: 1.2;
  --img-box-width: 27rem;
  --img-box-margin-inline: 2rem;
}

/**********************************************************
  Variables End
**********************************************************/


/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(0, 255, 255), blue, rgb(0, 255, 255));
  display: grid;
  place-items: center;
}

/**********************************************************
  Outer Container Start
**********************************************************/
.outer-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}



/**********************************************************
  Inner Container Start
**********************************************************/
.inner-container {
  width: fit-content;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  transform: translateX(0%);
  transition: all .4s linear;
}


/**********************************************************
  Img Boxes
**********************************************************/
.img-box {
  width: var(--img-box-width);
  position: relative;
  margin-inline: var(--img-box-margin-inline);
}

.img-box img {
  width: 100%;
  height: auto;
  transform: scale(var(--img-initial-scale));
  transition: all .4s linear;
  filter: grayscale(.9) hue-rotate(1deg);
}

.img-box a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/**********************************************************
  Change Position Of Inner Container When Clicked An Image And Span Targeted
**********************************************************/
#target-1:target~.inner-container {
  left: calc(50% - calc(0 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-2:target~.inner-container {
  left: calc(50% - calc(1 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-3:target~.inner-container {
  left: calc(50% - calc(2 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}


#target-4:target~.inner-container {
  left: calc(50% - calc(3 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-5:target~.inner-container {
  left: calc(50% - calc(4 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-6:target~.inner-container {
  left: calc(50% - calc(5 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-7:target~.inner-container {
  left: calc(50% - calc(6 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-8:target~.inner-container {
  left: calc(50% - calc(7 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-9:target~.inner-container {
  left: calc(50% - calc(8 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}

#target-10:target~.inner-container {
  left: calc(50% - calc(9 * (var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline))) - calc((var(--img-box-width) + var(--img-box-margin-inline) + var(--img-box-margin-inline)) / 2));
}



/**********************************************************
  Change Properties When Clicked An Image And Span Targeted
**********************************************************/
#target-1:target~.inner-container .img-box-1 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}


#target-2:target~.inner-container .img-box-2 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}


#target-3:target~.inner-container .img-box-3 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}


#target-4:target~.inner-container .img-box-4 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}

#target-5:target~.inner-container .img-box-5 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}

#target-6:target~.inner-container .img-box-6 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);

}

#target-7:target~.inner-container .img-box-7 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}

#target-8:target~.inner-container .img-box-8 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}

#target-9:target~.inner-container .img-box-9 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}

#target-10:target~.inner-container .img-box-10 img {
  transform: scale(var(--img-target-scale));
  filter: grayscale(0) hue-rotate(2deg);
}